body { margin:0; display:flex; background:#0f1117; color:#fff; font-family:Arial }
.sidebar { width:220px; background:#151823; padding:20px }
.sidebar h2 { color:#4f7cff }
.sidebar li { padding:10px; list-style:none }
.main { padding:30px }
.card {
  background:#151823;
  padding:20px;
  margin-bottom:20px;
  border-radius:10px;
  width:320px;
}
button {
  width:100%;
  padding:10px;
  background:#4f7cff;
  border:none;
  color:white;
}
input {
  width:100%;
  padding:10px;
  margin:10px 0;
  background:#0f1117;
  color:white;
  border:1px solid #333;
}
