body{
 background:#0f172a;
 color:#e5e7eb;
 font-family:Arial;
 padding:20px;
}

.card{
 max-width:400px;
 margin:auto;
 background:#020617;
 padding:20px;
 border-radius:14px;
 margin-bottom:20px;
}

input,button{
 width:100%;
 padding:10px;
 margin-top:8px;
 border-radius:8px;
 border:none;
}

button{
 background:#2563eb;
 color:white;
 cursor:pointer;
}

.hidden{display:none}
