body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

h1, h2 {
  color: #facc15;
}

.box {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

input, button {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #fbbf24;
  color: #0f172a;
  border: none;
  font-weight: bold;
}
