body{
background:#020617;
color:#e5e7eb;
font-family:Arial;
padding:20px;
}
.box{
max-width:420px;
margin:auto;
background:#0f172a;
padding:20px;
border-radius:16px;
margin-bottom:20px;
}
input,button{
width:100%;
padding:10px;
margin-top:10px;
border-radius:8px;
border:none;
}
button{background:#2563eb;color:white;cursor:pointer}
.danger{background:#dc2626}
.hide{display:none}
